.box__qualite {
    box-shadow: 0px -10px 20px 9px #00000012;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width:1024px){
    .box__qualite{
        margin-top:100px;
        position: relative;
        top: -50px;
    }
}

.box__qualite__item div {
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    justify-content: center;
}

.box__qualite__item svg {
    margin-right: 30px;
}

.box__qualite__item h6 {
    font-size: 16px;
    font-weight: 800;
}

.box__qualite__item p {
    font-size: 12px;
    color: #A1A1A1;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 2px;
}

footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 100px 0 50px 0;
    z-index: -1;
}

@media screen and (min-width:1024px) {
    footer {
        margin-top: -50px;
    }

}

footer h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 28px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

@media screen and (min-width:1024px) {
    .row__payments {
        margin-top: 70px;
    }
    footer .vacherin-row {
        margin-top: auto!important;
    }

}
@media screen and (min-width:768px) {
    footer {
        margin-top: -70px;
    }
    footer .row, footer .row .col-md-6{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .box__qualite .row{
       align-items: center;     
    }
}

.row__payments img {
    border-radius: 5px;
}

.icon__payments {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.icon__payments img {
    max-width: 70px;
}

.mastercard {
    max-width: 40px;
}

.footer__icon {
    width: auto !important;
}
.cardsfooter{
    display:flex;
    flex-direction: column;
}
.cardsfooter div {
    display: inline-flex;
}
.cardsfooter div img{
    margin-bottom: 10px;    
    width: 100%;
}
.cardsfooter div img:nth-child(2){
    margin-left: 10px;    
}
footer p strong{
    font-size: 14px;
}

.logo_footer img, .vacherin-row img{
    width:100%;
    max-width: 165px;
    height: auto;
    margin-bottom: 28px;
}
.logo_footer p strong{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    color: #fff;
    opacity: 1;
    margin: 20px 0 20px 0;

}
.vacherin-row {
    margin-top: auto;
}
.vacherin-row img{
    width: unset!important;
    max-width: unset!important;
    height: unset!important;
}

.notre-row div{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.notre-row h6{
    font-family: Mirador;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #fff;
}

.menu-inline-footer li a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: #848484;
    margin-left: 20px;
}
body > footer > div > div:nth-child(4) > div{
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/** search */
.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #searchQueryInput {
    width: 100%;
    height: 3.4rem;
    background: transparent;
    border: 2px solid #bf8175;
    outline: none;
    padding: 20px;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-align: left;
    color: #d8d8d8;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }

/*! end search */


@media screen and (min-width:320px) {
    footer {
        margin-top: -100px;
    }
    footer .row:nth-child(1) .col-md-6{
       width:50%;
    }
    body > footer > div > div:nth-child(1) > div.col-md-6.col-lg-3.logo_footer{
        width:100%;
        margin:40px 0px;
    }
    .notre-row div{
        padding-left: 15px;
    }
    .menu-inline-footer li a {

        font-size: 11px;
        line-height: 28px;
        text-align: left;
        color: #848484;
        margin-left: 0px;
        margin-right: 10px;
    }    
}
body > footer > div > div:nth-child(1) > div.col-md-6.col-lg-3.logo_footer {
    margin: 15px 0 40px 0;
}